.contact-form-component {
  padding-bottom: 96px;
  height: fit-content;
  font-family: "Montserrat", sans-serif;
}

.contact-form-section {
  max-width: 1160px !important;
  margin: auto;
}

.contact-form-container {
  margin-bottom: 0px;
}

.contact-form-title-text {
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #6474b4;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-size: 56px !important;
}

.contact-form-image {
  max-height: 400px;
  margin: auto !important;
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-label {
  padding-bottom: 8px;
}

.contact-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #6474b4;
  margin-bottom: 15px;
  transition: all 0.3s;
  font-size: 14px;
  color: var(--black);
  background-color: transparent;
}

.contact-input:focus {
  border-bottom: 2px solid #9fa9e2;
}

.contact-button {
  border-radius: 30px;
  padding: 20px 30px;
  background-color: #6474b4 !important;
  color: #fff;
  text-align: center;
  box-shadow: none !important;
  transition: all 0.3s;
  cursor: pointer;
  border: none !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  width: fit-content;
  margin: auto;
  margin-top: 0.5rem;
}

.contact-button:hover {
  box-shadow: 13px 13px 14px 0px rgba(0, 0, 0, 0.1) !important;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .contact-form-component {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .contact-form-section .message-sent-modal {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 330px;
  }

  .contact-form-title {
    font-size: 30px;
    margin-bottom: 2rem;
  }

  .contact-form-title .subtitle {
    font-size: 30px !important;
    margin-bottom: 1rem;
  }

  .contact-form-image {
    margin: auto;
    margin-top: 3rem;
  }
}
