.navbar {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

.navbar-container {
  max-width: 1160px;
  margin: auto !important;
}

.navbar-items {
  font-size: 1.1rem !important;
}

.nav-link {
  color: #3b71ca !important;
}
