.project-container {
  background-color: #9fa9e2;
  padding-top: 96px;
  padding-bottom: 96px;
  height: fit-content;
}

.project-container-row {
  max-width: 1160px !important;
  margin: auto !important;
}

.project-card {
  margin-bottom: 1.5rem;
}

.project-card:hover {
  box-shadow: 0 0 20px gray;
}

.project-title {
  display: block;
  font-weight: 600;
  color: black;
  font-size: 56px;
  margin-bottom: 2.5rem;
  text-align: center;
}



.project-links {
  display: flex;
  margin: auto;
 padding-top:0px !important;
}
