.project-container {
  background-color: #cbdd7d;
  padding-top: 96px;
  padding-bottom: 96px;
  height: fit-content;
}

.project-container-row {
  max-width: 1160px !important;
  margin: auto !important;
}

.project-title {
    display: block;
    font-weight: 600;
    color: black;
    font-size: 56px;
    margin-bottom: 2.5rem;
    text-align: center;

}