.skills-container {
  background-color: #eccc57de;
  padding-top: 96px;
  padding-bottom: 96px;
  height: fit-content;
}

.skills-section {
  max-width: 1160px !important;
  margin: auto !important;
}

.skills-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.skills-title {
  text-align: center;
  display: block;
  font-weight: 600;
  color: white;
  font-size: 56px;
  margin-bottom: 2.5rem;
}

.skills-subtitle {
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

.icon-column {
  max-height: 150px;
  margin: 1rem;
}

.icon-div {
  height: 110px;
  width: 110px;
}

.icon {
  background-color: white;
  padding: 12px;
  border-radius: 25px;
  object-fit: cover;
}

.icon-name-div {
  width: 110px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center !important;
  color: rgb(87, 86, 86);
}

.icon-container {
  align-items: center !important;
}

.icon:hover {
  box-shadow: 0 0 20px gray;
}

/* Media queries */

@media only screen and (max-width: 600px) {
  .hero-section {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 330px;
    text-align: center;
  }

  .skills-subtitle {
    font-size: 40px;
    text-align: center !important;
    margin-left: 0px;
  }

  .icon-column {
    max-height: 130px;
    margin: 1.1rem;
  }
  
  .icon-div {
    height: 90px;
    width: 90px;
  }

  .icon-name-div {
    width: 90px;
   
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .hero-demo-button {
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .hero-image-main {
    margin: auto;
  }
}
